.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-elements {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  overflow: hidden;
}